@charset "UTF-8";
/*
 * layout.css
 *
 */

/* !wrapper
---------------------------------------------------------- */
#wrapper {
	overflow:hidden;
	position: relative;
	width:100%;
	min-height:100vh;
	background:url(../img/lottery/bg_lottery_prize.png)repeat-y center top;
}
#top #wrapper{background:#BCBCBC;}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	#wrapper {background:#BCBCBC;}
}



/* !mainVisual
---------------------------------------------------------- */
#mainVisual {position:relative;text-align:center;margin-left:-100%;margin-right: -100%;}
#mainVisual img{max-width:unset;}
#mainVisual .scroll{
	position: absolute;
	left:50%;
	bottom:26px;
	transform: translateX(-50%);
	width:90px;
	background:url(../img/common/ico_down_circle.svg)no-repeat center bottom;
	background-size:100%;
	text-align: center;
	color:#007DCB;
}

#mainVisual .scrollTxt{
	position: absolute;
	left:50%;
	bottom: 11%;
	transform: translateX(-50%);
	text-align: center;
	text-transform: uppercase;
	color:#007DCB;
	font-weight: 700;
	text-shadow: 3px 3px 3px #fff, -3px -3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff;
}

/*** PCorタブレット横以上 ※PC幅は1280pxを上限にwidthを固定 ***/
@media screen and (min-width: 1025px) {
	#mainVisual {
		height: 100vh;
  		height: calc(var(--vh, 1vh) * 100);
	}
	#mainVisual img{
		height: 100%;
	}
	#mainVisual .scrollTxt{
		position: absolute;
		left:50%;
		bottom: 56px;
		transform: translateX(-50%);
		text-align: center;
		text-transform: uppercase;
		color:#007DCB;
		font-weight: 700;
		font-size: 3rem;
	}
	#mainVisual .scroll {
		bottom: 12px;
		text-transform: lowercase;
		padding-bottom: 70px;
    	width: 40px;
		font-size: 1.6rem;
	}
	.prizeList .inner {
		max-width: 1280px;
	}
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1024px) {
	#mainVisual .scroll{
		bottom: 8px;
		padding-bottom: 48px;
		width: 44px;
		background-image:url(../img/common/ico_down_circle_sp.svg);
	}
	#mainVisual .scrollTxt{
		bottom: 53px;
		font-size: 2rem;
	}
}

/* !teaser
---------------------------------------------------------- */
#teaser {

}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}

/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {

}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}

/* !contents
---------------------------------------------------------- */
#contents {

}

#main {

}
.inner {
	padding:0 35px;
	margin:0 auto;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	.inner{
		padding:0 20px;
	}
}

/* !pageTop
---------------------------------------------------------- */
.pageTop {
	display:none;
}
@media screen and (max-width: 767px) {
	.pageTop {
		display:block;
		position: fixed;
		right:0;
		bottom:10px;
		z-index: 9;
		width:60px;
	}
}
/* !footer
---------------------------------------------------------- */
#footer {
}

#footer .footerIn {

}


#copyright {

}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}

