@charset "utf-8";
/*
 * page.css
 *
 */

.prizeList {
  padding: 0 0 50px;
  background: repeating-linear-gradient(
    to left,
    transparent 0,
    transparent 40px,
    rgba(232, 232, 232, 0.5) 40px,
    rgba(232, 232, 232, 0.5) 80px
  );
}
.prizeList .hdL span {
  padding: 0 240px;
  background-image: url(../img/common/ico_hd_left02.svg),
    url(../img/common/ico_hd_right02.svg);
}
.prizeList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prizeList li {
  flex: 0 0 45%;
  position: relative;
  padding: 0 10px 70px;
  margin: 30px 0 50px;
  background: #fff;
  border: 6px solid #808080;
  border-radius: 24px;
  text-align: center;
}
.prizeList .tit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 0;
  margin: -26px 0;
  height: 80px;
  width: 116%;
  background: url(../img/common/bg_hd.png) no-repeat center;
  background-size: 100% 100%;
  text-shadow: 0 3px 0 #717171;
  -webkit-text-stroke: 2px #717171;
  font-size: 2.8rem;
  color: #ffffff;
}
.prizeList .people:before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 0;
  z-index: -1;
  transform: skewX(-30deg);
  width: 86%;
  height: 62%;
  background: #dbdbdb;
}
.prizeList .people {
  position: relative;
  z-index: 2;
  line-height: 1.15;
  color: #a5a5a5;
  -webkit-text-stroke: 3px #434343;
  text-shadow: 0 8px 0 #434343;
  font-size: 3.3rem;
}
.prizeList .people .num {
  font-size: 1.38em;
}

.lotteryStart {
  padding: 0 0 80px;
  background: url(../img/common/bg_slash.png) no-repeat center;
  background-size: auto 100%;
  text-align: center;
}
.lotteryStart .button {
  margin-top: 36px;
}
.lotteryStart .button button {
  cursor: pointer;
  width: 100%;
  max-width: 680px;
  height: 172px;
  background: linear-gradient(#007dcb, #0faeff, #007dcb);
  border: 2px solid #fff;
  border-radius: 200px;
  color: #fff;
  font-size: 7.3rem;
}

.lotteryStart .lottery img {
  height: 60vh;
}

.campaignOverview {
  padding: 0 0 100px;
}
.campaignOverview .inner {
  max-width: inherit;
}
.campaignOverview .txt {
  padding: 40px;
  width: 100%;
  min-height: 500px;
  background: #fff;
  border: 0;
  border-radius: 22px;
  font-size: 3rem;
  font-weight: 500;
}

/*** PCorタブレット横以上 ※PC幅は1280pxを上限にwidthを固定 ***/
@media screen and (min-width: 1025px) {
  .prizeList ul {
    justify-content: space-around;
  }
  .prizeList li {
    flex: 0 0 37%;
  }
  .prizeList .tit {
    padding: 12px 0;
    font-size: 3.5rem;
    margin: -26px 0;
    height: 110px;
    width: 125%;
    text-shadow: 0 3px 0 #717171;
    -webkit-text-stroke: 2px #717171;
  }
  .prizeList .people {
    font-size: 4rem;
    text-shadow: 0 5px 0 #434343;
  }
  .lotteryStart {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .lotteryStart .button {
    margin-top: 3%;
  }
  .lotteryStart .button button {
    height: 94px;
    max-width: 379px;
    font-size: 4.3rem;
  }
}
/*** タブレット ***/
@media screen and (max-width: 959px) {
  .prizeList li {
    padding: 0 10px 40px;
  }
  .prizeList .tit {
    padding: 4px 0;
    height: 80px;
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .prizeList {
    padding: 0 0 10px;
    background: repeating-linear-gradient(
      to left,
      transparent 0,
      transparent 20px,
      rgba(232, 232, 232, 0.5) 20px,
      rgba(232, 232, 232, 0.5) 40px
    );
  }
  .prizeList .hdL span {
    padding: 0 86px;
  }
  .prizeList li {
    flex: 0 0 48.5%;
    padding: 0 10px 25px;
    margin: 0 0 30px;
    border-width: 3px;
    border-radius: 9px;
  }
  .prizeList .tit {
    margin: -15px 0 10px;
    height: auto;
    background-image: url(../img/common/bg_hd_sp.png);
    background-size: 88% 100%;
    text-shadow: 0 0 0;
    -webkit-text-stroke: 0;
    font-size: 1.6rem;
  }
  .prizeList .people {
    margin-top: 5px;
    font-size: 2.2rem;
    -webkit-text-stroke: 1px #434343;
    text-shadow: 0 3px 0 #434343;
  }

  .lotteryStart {
    padding: 0 0 40px;
  }
  .lotteryStart .button {
    margin-top: 20px;
  }
  .lotteryStart .button button {
    max-width: 228px;
    height: 58px;
    font-size: 2.5rem;
  }

  .campaignOverview {
    padding: 0 0 40px;
  }
  .campaignOverview .hdL {
    font-size: 2.2rem;
  }
  .campaignOverview .txt {
    padding: 15px 20px;
    min-height: 250px;
    font-size: 1rem;
  }

  .lotteryStart .lottery img {
    height: auto;
  }
}

.lotteryScreen {
  position: relative;
  min-height: 100vh;
  padding: 30px 0;
  background: no-repeat center top;
  background-size: cover;
  text-align: center;
}
.lotteryScreen.per:before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: url(../img/lottery/bg_lottery_bor.png) no-repeat center;
  background-size: 100%;
}
.lotteryScreen.per {
  background-image: url(../img/lottery/bg_lottery.png);
}
.lotteryScreen.off {
  background-image: url(../img/lottery/bg_lottery_off.png);
}

.lotteryScreen .hd01 {
  margin-bottom: -50px;
}
.lotteryScreen .hd02 {
  position: relative;
  z-index: 2;
  padding: 15px 0 0;
  margin-top: -50px;
  height: 152px;
  background: url(../img/common/bg_hd02.png) no-repeat center top;
  background-size: auto 100%;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 800;
}
.lotteryScreen .hd03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto -90px;
  max-width: 635px;
  text-align: left;
}
.lotteryScreen .hd03 .pre {
  width: 100%;
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
}
.lotteryScreen .hd04 {
  margin-top: -120px;
}
.lotteryScreen .winner {
  margin: auto;
  padding: 50px;
  max-width: 1082px;
  background: url(../img/lottery/bg_lottery_dialog.png) no-repeat center;
  background-size: 100% 100%;
}
.lotteryScreen .bg {
  padding: 48px 30px 30px;
  margin: 80px auto 0;
  max-width: 980px;
  background: #fff;
  border-radius: 95px;
}
.lotteryScreen .bn {
  padding: 48px 30px 30px;
  margin: 80px auto 0;
  max-width: 600px;
  background: #fff;
  border-radius: 95px;
}
.lotteryScreen .another {
  margin-top: 40px;
  color: #707070;
  font-size: 3rem;
  font-weight: 700;
}
.lotteryScreen .link {
  margin-top: 60px;
}
.lotteryScreen.per .link {
  margin-top: 0;
}

.contactForm {
  padding: 100px 0;
  font-size: 2.3rem;
}
.contactForm .inner {
  max-width: 1586px;
}
.contactForm .bg {
  padding: 110px 120px 200px;
  background: #fff;
  border-radius: 9px;
}
.contactForm form {
  padding: 0 60px;
}
.contactForm.confirm .hdM {
  margin-bottom: 40px;
}
.contactForm table {
  width: 100%;
}
.contactForm tr {
  border-bottom: 2px solid #d0d0d0;
}
.contactForm th {
  vertical-align: top;
  padding: 70px 40px 15px;
  width: 360px;
  font-weight: bold;
}
.contactForm td {
  vertical-align: top;
  padding: 60px 0 15px;
  font-weight: 500;
}
.contactForm .full tr {
  border-bottom: 0;
}
.contactForm .full th {
  display: block;
  padding: 60px 40px 40px;
  width: 100%;
}
.contactForm .full td {
  display: block;
  padding: 0 40px;
  width: 100%;
}
.contactForm input::-webkit-input-placeholder {
  color: #b9b9b9;
}
.contactForm input[type="text"],
.contactForm select {
  padding: 0 40px;
  width: 100%;
  height: 52px;
  background: #f5f5f5;
  border: 2px solid #b9b9b9;
  font-size: 1em;
}
.contactForm select {
  background: url(../img/common/ico_select.svg) no-repeat right 20px center
    #f5f5f5;
  color: #b9b9b9;
}
.checkboxStyle label,
.radioStyle label {
  display: block;
  margin: 0 0 20px;
}
.checkboxStyle input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: url(../img/common/ico_checkbox.png) no-repeat center;
  background-size: 100%;
}
.radioStyle input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: url(../img/common/ico_radio.png) no-repeat center;
  background-size: 100%;
}
.checkboxStyle input:checked {
  background-image: url(../img/common/ico_checkbox_checked.png);
}
.radioStyle input:checked {
  background-image: url(../img/common/ico_radio_checked.png);
}
.contactForm textarea {
  resize: none;
  padding: 20px 40px;
  width: 100%;
  height: 350px;
  background: #f5f5f5;
  border: 2px solid #b9b9b9;
}
.teamBtns {
  margin-top: 80px;
  text-align: center;
}
.teamBtns input {
  margin: 5px;
  min-width: 260px;
  background: #007dcb;
  border: 0;
  border-radius: 50px !important;
}
.teamBtns .submit {
  padding-left: 100px;
  background: url(../img/common/ico_link.svg) no-repeat 30% center #007dcb;
}
.teamBtns .edit {
  background: #696969;
}
.contactForm .thanks {
  padding: 0 100px;
}

/*** タブレット ***/
@media screen and (max-width: 1200px) {
  .lotteryScreen .hd02 {
    padding: 1vw 0 0;
    height: 12.6667vw;
    background-size: 100%;
    font-size: 4vw;
  }

  .contactForm form {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .lotteryScreen.price {
    background: url(../img/lottery/bg_lottery_prize_sp.png) no-repeat center
      90px #cecece;
    background-size: auto;
  }
  .lotteryScreen.off {
    background-image: url(../img/lottery/bg_lottery_off_sp.png);
  }
  .lotteryScreen.per {
    background: url(../img/lottery/bg_lottery_sp.png) no-repeat center top
      #76daff;
    background-size: auto;
  }
  .lotteryScreen.per:before {
    background-image: url(../img/lottery/bg_lottery_bor_sp.png);
    background-position: center 40%;
  }
  .lotteryScreen .hd01 {
    transform: translateY(100%);
    margin-bottom: 0px;
  }
  .lotteryScreen .hd01 img {
    height: 80px;
  }
  .lotteryScreen .hd02 {
    margin: -60px -10px 40px;
    padding: 1.95vw 0 0;
    height: 73px;
    background-image: url(../img/common/bg_hd02_sp.png);
    background-size: 100%;
    font-size: 4.8vw;
  }
  .lotteryScreen .hd03 {
    margin: 0 auto;
    max-width: 90%;
  }
  .lotteryScreen .hd03 .pre {
    font-size: 2rem;
  }
  .lotteryScreen .hd04 {
    margin: -40px 0 18px;
  }
  .lotteryScreen .winner {
    padding: 100px 20px;
  }
  .lotteryScreen .bg {
    margin: 60px auto 0;
    padding: 25px 5px 50px;
    border-radius: 50px;
  }
  .lotteryScreen .another {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .contactForm {
    padding: 30px 0 100px;
    font-size: 1.2rem;
  }
  .contactForm .inner {
    padding: 0 15px;
  }
  .contactForm .bg {
    padding: 15px 15px 100px;
    border-radius: 0;
  }
  .contactForm.confirm .hdM {
    margin-bottom: 0;
  }
  .contactForm form {
    padding: 0;
  }
  .contactForm tr {
    border-bottom: 0;
  }
  .contactForm th,
  .contactForm .full th {
    display: block;
    padding: 24px 0 8px;
    width: 100%;
  }
  .contactForm td,
  .contactForm .full td {
    display: block;
    padding: 0;
    width: 100%;
  }
  .contactForm input[type="text"],
  .contactForm select {
    padding: 0 6px;
    height: 30px;
    border-width: 1px;
  }
  .contactForm select {
    padding-right: 20px;
    background-position: right 10px center;
    background-size: 10px;
  }
  .checkboxStyle label,
  .radioStyle label {
    display: inline-block;
    margin: 0 10px 15px;
    min-width: 80px;
  }
  .checkboxStyle input,
  .radioStyle input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .contactForm textarea {
    padding: 5px 6px;
    height: 166px;
    border-width: 1px;
  }
  .teamBtns {
    margin-top: 40px;
  }
  .teamBtns input {
    min-width: 140px;
  }
  .teamBtns .submit {
    padding-left: 60px;
    background-size: 20px;
  }
  .contactForm .thanks {
    padding: 0 25px;
  }
}
